@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
}

.flex {
  display: flex;
}

.align-item-center {
  align-items: center;
}

.justify-content-btwn {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.nav-bar {
	align-items: center;
	list-style: none;
	padding: 12px 20px;
	max-width: 1920px;
	margin-inline: auto;
  gap: 20px;
}

.nav-bar li a {
	text-decoration: none;
	font-size: 24px;
	text-transform: uppercase;
}

.logo-txt a{
  color: #F17228;
  font-size: 31px;
  font-weight: bold;
}

.logo-txt a span {
  color: #FFB800;
}

.nav-bar__logos {
  gap: 10px;
}

.nav-bar_text {
  color: #424242;
  font-size: 18px;
  font-weight: bold;
}

.nav-bar_text-info {
  font-weight: 400;
}

.nav-bar_text-info span {
  font-size: 18px;
  font-weight: bold;
}
.menu {
	gap: 30px;
}

.menu li a {
	display: inline-block;
	position: relative;
	color: #fff;
	transition: all .3s ease-in-out;
}

.menu li a::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #F17228;
	width: 0;
	height: 3px;
	transition: all .3s ease-in-out;
}

.menu li a:hover:after {
	width: 100%;
}

.menu li a:hover {
	color: #7c7c7c;
}

.menu span {
  color: #424242;
  font-size: 18px;
  font-weight: bold;
}

.close-menu,.open-menu {
	position: absolute;
	color: #c7c7c7;
	font-size: 40px;
	display: none;
}

.open-menu {
	right: 20px;
}

.close-menu {
	top: 0;
	right: 20px;
}

#check {
	display: none;
}

.hamburger-container {
	margin-top: 100px;
}

.login-access {
  padding: 14px 24px;
  box-shadow: 2px 2px 2px 2px #FFB800;
  border-radius: 10px;
}

.login-access span {
  color: #FFB800;
  font-size: 18px;
  font-weight: bold;
}


@media (max-width:768px) {
	.menu {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 70%;
		height: 100vh;
		background: #fefefe;
		position: fixed;
		left: -100%;
		top: 50px;
		transition: all .3s ease-in-out;
		z-index: 100;
	}

	.close-menu,.open-menu {
		display: block;
	}

	#check:checked~ .menu {
		left: 0;
	}

  .nav-bar_text {
    display: none;
  }

	.nav-bar {
		justify-content: stretch;
	}
}

.order-card__content {
  max-width: 1920px;
  margin-inline: auto;
	background: #FFB800;
	padding: 132px 220px;
	position: relative;
}
.order-card__content img {
	position: absolute;
	bottom: 0;
	right: 243px;
	transition: all 0.3s ease-in;
	animation: imgAnimation 1s ease-in-out forwards;
}

@keyframes imgAnimation {

	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

.order-card__content-container {
	max-width: 856px;
	padding: 20px;
	flex-direction: column;
	gap: 20px;
	position: relative;
	z-index: 1;
	transition: all .3s ease-in;
	animation: cardAnimation 1s ease-in-out forwards;
}

@keyframes cardAnimation {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}

.order-card__content-container h1 {
	font-size: 58px;
	font-weight: bold;
	color: #fff;
}

.order-card__content-container p {
	font-size: 12px;
}

.order-card__option a {
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #424242;
	text-align: center;
}

.order-card__option-delivery {
	padding: 10px 24px;
	background-color: rgba(241, 114, 40, 0.1);
	border-radius: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #F17228 !important;
	margin-right: 20px;
}

.btn-one {
	padding: 23px 48px;
	border-radius: 10px;
	background-color: #F17228;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	border: 0;
	cursor: pointer;
}

.input-email {
	padding: 12px 265px 12px 46px;
	color: #9E9E9E;
	border-radius: 5px;
	border: 0;
	background: #F5F5F5;
}

.card-option-contianer {
	background: #FFF;
	padding: 20px;
	border-radius: 10px;
	flex-direction: column;
	gap: 20px;
}

@media (max-width:992px) {
	.user-input-interface {
		flex-direction: column;
		gap: 10px;
	}

	.input-email {
		padding: 12px 46px;
	}

	.order-card__content {
		padding: 50px;
	}

	.order-card__content-container h1 {
		font-size: 30px;
	}

	.order-card__option-delivery {
		padding: 10px;
		margin-right: 0;
	}

	.order-card__option {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.btn-one {
		padding: 10px;
		font-size: 16px;
	}
}

@media (max-width:530px) {
	.order-card__content img {
		right: 0;
		width: 100%;
	}
}

.cards-contianer {
	max-width: 1920px;
	margin-inline: auto;
	padding-block: 40px;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.card {
	max-width: 365px;
	overflow: hidden;
	border-radius: 20px;
  position: relative;
	flex-direction: column;
	gap: 30px;
	transition: all .3s ease-in;
}

.card:hover {
	transform: translateY(-20px);
}

.card a img {
	width: 100%;
}

.card span {
	background: #FFB30E;
	padding: 10px 18px;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	border-top-right-radius: 30px;
	position: absolute;
	bottom: 120px;
	left: 0;
	z-index: 1;
	max-width: 100px;
}

.counter-div {
	border-radius: 10px;
	color: #F17228;
	font-size: 30px;
	font-weight: bold;
	background-color: rgba(241, 114, 40, 0.1);
	padding: 10px;
	max-width: 318px;
}

.card-text {
	color: #424242;
	font-size: 20px;
	font-weight: bold;
}

.card-txt-content {
	flex-direction: column;
	gap: 10px;
}

@media (max-width:768px) {
	.cards-contianer {
		padding-inline: 20px;
	}
}

.order-tracking__contianer {
	max-width: 1920px;
	margin-inline: auto;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
}

.order-tracking__contianer-card {
	max-width: 307px;
	flex-direction: column;
}

.order-tracking__contianer-text {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
}

.order-tracking__contianer-text h3 {
	font-size: 20px;
	font-weight: bold;
	color: #424242;
}

.order-tracking__contianer-text p {
	color: #7c7c7c;
	font-size: 16px;
	font-weight: 400;
}

.categories-content {
	max-width: 1920px;
	margin-inline: auto;
	justify-content: center;
	gap: 88px;
	padding-block: 80px;
	flex-direction: column;
}

.categories-content h2{
	font-size: 40px;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
	text-transform: uppercase;
	text-align: center;
}

.categories-cards__contianer {
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}
.categories-content__card {
	max-width: 283px;
	flex-direction: column;
	gap: 20px;
	transition: all .3s ease-in;

	&:hover {
		transform: translateY(-10px);
	}
}

.categories-content__card img {
	border-radius: 10px;
}

.categories-content__card-text h3,p {
	font-size: 24px;
	font-weight: bold;
	color: #424242;
}

.categories-content__card-text a {
	color: #FFB30E;
	text-decoration: none;
	font-size: 18px;
	display: flex;
	align-items: center;
	gap: 5px;
	font-weight: bold;

	&:hover {
		color: #F17228;
	}
}

.categories-content-cta {
	text-decoration: none;
	background: #F17228;
	color: #fff;
	padding: 21px 98px;
	border-radius: 5px;
	text-align: center;
	position: relative;
	transition: all .3s ease-in;
	z-index: 1;
}

.categories-content-cta::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 100%;
	z-index: -1;
	background-color: #FFB30E;
	transition: all .3s ease-in;
	border-radius: 5px;
}

.categories-content-cta:hover::after {
	width: 100%;
	left: 0;
}

.features-content {
	max-width: 1920px;
	margin-inline: auto;
	flex-direction: column;
	gap: 60px;
}

.item {
	max-width: 357px;
	font-family: sans-serif;
	flex-direction: column;
	gap: 20px;
}

.item-img {
	border-radius: 20px;
}

@media (max-width:768px) {
	.item-img {
		width: 100%;
	}

	.item {
		max-width: 100%;
	}
}

.features-content__cards {
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	max-width: 1476px;
	margin-inline: auto;
}

.features-content__cards-text  {
	gap: 10px;
	text-decoration: none;
}

.features-content__text h3 {
	font-size: 24px;
	font-weight: 700;
	color: #424242;
}

.features-content__text span p{
	color: #FFB30E;
}

.features-cta {
	text-decoration: none;
	padding: 8px 16px;
	color: #F17228;
	font-size: 20px;
	font-weight: 700;
	border-radius: 10px;
	background: #f172286d;
}

.features-content__cards-contianer {
	flex-direction: column;
	gap: 20px;
}

.features-content__title {
	font-size: 40px;
	font-family: sans-serif;
	font-weight: 700;
	color: #424242;
}

.card-announement_itemOne {
	background: #F17228;
}

.card-announement_itemOne, .card-announement_itemTwo {
	padding: 8px 16px;
	gap: 10px;
	border-radius: 10px;
}

.card-announement_itemOne p, .card-announement_itemTwo p {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}

.card-announement_itemTwo {
	background: #FFB30E;
}

.card-announement {
	gap: 8px;
	position: absolute;
	top: 24px;
	left: 24px;
	transform: translateY(-50%);
}

.features-content-cta {
	text-decoration: none;
	color: #fff;
	padding: 21px 48px;
	box-shadow: 3px 3px 2px #FFB800;
	background: #FFB30E;
	border-radius: 10px;
	text-transform: capitalize;
	font-weight: 700;
}

.item-content {
	max-width: 1480px;
	margin-inline: auto;
	padding-block: 135px;
	font-family: sans-serif;
	flex-direction: column;
	gap: 80px;
	justify-content: center;
	flex-wrap: wrap;
}

@media (max-width:992px) {
	.item-content__card {
		max-width: 100%;
	}

	.item-content__card {
		flex-wrap: wrap;
		justify-content: center;
	}

}

.item-content__text {
	flex-direction: column;
	gap: 20px;
	max-width: 519px;
	padding: 56px;
	align-items: self-start;
	border-radius: 20px;
}

@media (max-width:992px) {
	.item-content__text {
		max-width: 100%;
	}

}

.item-content__text h3 {
	font-size: 35px;
	font-weight: 700;
}

.item-content__text h3 span {
	color: #FFB800;
}

.item-content__text-paragraph {
	color: #616161;
	font-size: 16px;
	font-weight: 400;
}

.item-content__text a {
	padding: 12px 112px;
	color: #fff;
	font-weight: 700;
	background: #FFB30E;
	text-decoration: none;
	text-align: center;
	gap: 5px;
	border-radius: 10px;
	box-shadow: 3px 3px 4px #FFB800;
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.item-content__text a {
		padding: 12px 40px;
	}
}
.item-content__text a svg {
	font-size: 0;
}
.item-image {
	max-width: 961px;
}

.item-image a img {
	width: 100%;
	border-radius: 20px;
	object-fit: cover;
}

.footer-content {
	max-width: 1920px;
	margin-inline: auto;
}

.footer-content__text {
	background-image: url(../images/logo/footerBG.svg);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 1920px;
	padding: 91px;
	justify-content: center;
}

.footer-txt {
	flex-direction: column;
	gap: 62px;
	max-width: 750px;
	text-align: center;
}

.footer-txt h2{
	font-size: 57px;
	font-weight: 700;
	color: #fff;
}

.footer-txt a {
	padding: 12px 25px;
	background: #F17228;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	border-radius: 10px;
	text-transform: uppercase;
	text-decoration: none;
}

@media (max-width:768px) {
	.footer-txt h2 {
		font-size: 20px;
	}

	.footer-txt a {
		padding: 12px;
		font-size: 16px;
	}
}

.footer-nav {
	background: #212121;
	flex-direction: column;
	gap: 165px;
	padding: 91px 221px;
}

.footer-navbar {
	font-family: sans-serif;
	border-bottom: 4px solid #9E9E9E;
	padding-bottom: 50px;
}

.footer-navbar li {
	list-style: none;
	margin-bottom: 16px;
}

.footer-navbar li a {
	text-decoration: none;
	font: 18px;
	color: #F5F5F5;
}

.footer-secondary-list {
	font-family: sans-serif;
	border-bottom: 4px solid #9E9E9E;
	padding-bottom: 50px;
}

.footer-secondary-list__nav-container {
	gap: 116px;
}

.footer-secondary-list__nav-container span li{
	list-style: none;
	margin-bottom: 16px;
}

.footer-secondary-list__nav-container span li a {
	text-decoration: none;
	font: 18px;
	color: #F5F5F5;
}

.footer-secondary-social-info {
	flex-direction: column;
	gap: 40px;
}

.footer-secondary-social-info h4 {
	color: #F5F5F5;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
}

.footer-secondary-social-info__accounts li {
	list-style: none;
}

.footer-secondary-social-info__accounts {
	gap: 20px;
}

.footer-access__submit-info {
	flex-direction: column;
	gap: 30px;
}

.footer-access__submit-info h3 {
	color: #9E9E9E;
	font-size: 18px;
	font-weight: 700;
}

.footer-access {
	gap: 10px;
}

.footer-access input{
	padding: 17px 50px;
	border-radius: 10px;
}

.footer-access a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	background: #FFB30E;
	padding: 21px 27px;
	border-radius: 10px;
}

@media (max-width:1100px) {

	.footer-nav {
		padding: 91px;
	}

	.footer-secondary-list {
		flex-direction: column;
	}
}

@media (max-width:768px) {
	.footer-navbar, .footer-secondary-list__nav-container{
		flex-direction: column;
		gap: 40px;
	}

	.footer-nav {
		align-items: self-start;
	}

	.footer-access {
		flex-direction: column;
	}

	.footer-access input {
		padding: 17px;
	}
}